@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
.form-input:focus {
  @apply outline-none shadow-outline;
}